{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/phoenixframework/phoenix">>}]}.
{<<"name">>,<<"phx_new">>}.
{<<"version">>,<<"1.7.20">>}.
{<<"description">>,
 <<"Phoenix framework project generator.\n\nProvides a `mix phx.new` task to bootstrap a new Elixir application\nwith Phoenix dependencies.">>}.
{<<"elixir">>,<<"~> 1.14">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/phx_new">>,<<"lib/phx_new/single.ex">>,
  <<"lib/phx_new/web.ex">>,<<"lib/phx_new/ecto.ex">>,
  <<"lib/phx_new/mailer.ex">>,<<"lib/phx_new/project.ex">>,
  <<"lib/phx_new/generator.ex">>,<<"lib/phx_new/umbrella.ex">>,<<"lib/mix">>,
  <<"lib/mix/tasks">>,<<"lib/mix/tasks/phx.new.ex">>,
  <<"lib/mix/tasks/phx.new.web.ex">>,<<"lib/mix/tasks/phx.new.ecto.ex">>,
  <<"lib/mix/tasks/local.phx.ex">>,<<"templates">>,
  <<"templates/phx_gettext">>,<<"templates/phx_gettext/gettext.ex">>,
  <<"templates/phx_gettext/en">>,<<"templates/phx_gettext/en/LC_MESSAGES">>,
  <<"templates/phx_gettext/en/LC_MESSAGES/errors.po">>,
  <<"templates/phx_gettext/errors.pot">>,<<"templates/phx_umbrella">>,
  <<"templates/phx_umbrella/mix.exs">>,<<"templates/phx_umbrella/config">>,
  <<"templates/phx_umbrella/config/runtime.exs">>,
  <<"templates/phx_umbrella/config/extra_config.exs">>,
  <<"templates/phx_umbrella/config/dev.exs">>,
  <<"templates/phx_umbrella/config/config.exs">>,
  <<"templates/phx_umbrella/config/prod.exs">>,
  <<"templates/phx_umbrella/config/test.exs">>,
  <<"templates/phx_umbrella/formatter.exs">>,
  <<"templates/phx_umbrella/README.md">>,<<"templates/phx_umbrella/apps">>,
  <<"templates/phx_umbrella/apps/app_name">>,
  <<"templates/phx_umbrella/apps/app_name/mix.exs">>,
  <<"templates/phx_umbrella/apps/app_name/test">>,
  <<"templates/phx_umbrella/apps/app_name/test/test_helper.exs">>,
  <<"templates/phx_umbrella/apps/app_name/config">>,
  <<"templates/phx_umbrella/apps/app_name/config/config.exs">>,
  <<"templates/phx_umbrella/apps/app_name/formatter.exs">>,
  <<"templates/phx_umbrella/apps/app_name/README.md">>,
  <<"templates/phx_umbrella/apps/app_name/lib">>,
  <<"templates/phx_umbrella/apps/app_name/lib/app_name">>,
  <<"templates/phx_umbrella/apps/app_name/lib/app_name/application.ex">>,
  <<"templates/phx_umbrella/apps/app_name/lib/app_name.ex">>,
  <<"templates/phx_umbrella/apps/app_name/gitignore">>,
  <<"templates/phx_umbrella/apps/app_name_web">>,
  <<"templates/phx_umbrella/apps/app_name_web/mix.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/test">>,
  <<"templates/phx_umbrella/apps/app_name_web/test/test_helper.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/config">>,
  <<"templates/phx_umbrella/apps/app_name_web/config/runtime.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/config/dev.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/config/config.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/config/prod.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/config/test.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/formatter.exs">>,
  <<"templates/phx_umbrella/apps/app_name_web/README.md">>,
  <<"templates/phx_umbrella/apps/app_name_web/lib">>,
  <<"templates/phx_umbrella/apps/app_name_web/lib/app_name">>,
  <<"templates/phx_umbrella/apps/app_name_web/lib/app_name/application.ex">>,
  <<"templates/phx_umbrella/apps/app_name_web/lib/app_name.ex">>,
  <<"templates/phx_umbrella/apps/app_name_web/gitignore">>,
  <<"templates/phx_umbrella/gitignore">>,<<"templates/phx_mailer">>,
  <<"templates/phx_mailer/lib">>,<<"templates/phx_mailer/lib/app_name">>,
  <<"templates/phx_mailer/lib/app_name/mailer.ex">>,
  <<"templates/phx_single">>,<<"templates/phx_single/mix.exs">>,
  <<"templates/phx_single/test">>,
  <<"templates/phx_single/test/test_helper.exs">>,
  <<"templates/phx_single/config">>,
  <<"templates/phx_single/config/runtime.exs">>,
  <<"templates/phx_single/config/dev.exs">>,
  <<"templates/phx_single/config/config.exs">>,
  <<"templates/phx_single/config/prod.exs">>,
  <<"templates/phx_single/config/test.exs">>,
  <<"templates/phx_single/formatter.exs">>,
  <<"templates/phx_single/README.md">>,<<"templates/phx_single/lib">>,
  <<"templates/phx_single/lib/app_name">>,
  <<"templates/phx_single/lib/app_name/application.ex">>,
  <<"templates/phx_single/lib/app_name_web.ex">>,
  <<"templates/phx_single/lib/app_name.ex">>,
  <<"templates/phx_single/gitignore">>,<<"templates/phx_ecto">>,
  <<"templates/phx_ecto/formatter.exs">>,<<"templates/phx_ecto/seeds.exs">>,
  <<"templates/phx_ecto/repo.ex">>,<<"templates/phx_ecto/data_case.ex">>,
  <<"templates/phx_static">>,<<"templates/phx_static/favicon.ico">>,
  <<"templates/phx_static/home.css">>,<<"templates/phx_static/app.css">>,
  <<"templates/phx_static/robots.txt">>,<<"templates/phx_static/app.js">>,
  <<"templates/phx_static/phoenix.png">>,<<"templates/phx_test">>,
  <<"templates/phx_test/support">>,
  <<"templates/phx_test/support/conn_case.ex">>,<<"templates/phx_test/live">>,
  <<"templates/phx_test/live/page_live_test.exs">>,
  <<"templates/phx_test/controllers">>,
  <<"templates/phx_test/controllers/error_html_test.exs">>,
  <<"templates/phx_test/controllers/page_controller_test.exs">>,
  <<"templates/phx_test/controllers/error_json_test.exs">>,
  <<"templates/phx_web">>,<<"templates/phx_web/telemetry.ex">>,
  <<"templates/phx_web/router.ex">>,<<"templates/phx_web/components">>,
  <<"templates/phx_web/components/core_components.ex">>,
  <<"templates/phx_web/components/layouts.ex">>,
  <<"templates/phx_web/components/layouts">>,
  <<"templates/phx_web/components/layouts/root.html.heex">>,
  <<"templates/phx_web/components/layouts/app.html.heex">>,
  <<"templates/phx_web/endpoint.ex">>,<<"templates/phx_web/controllers">>,
  <<"templates/phx_web/controllers/error_json.ex">>,
  <<"templates/phx_web/controllers/page_html">>,
  <<"templates/phx_web/controllers/page_html/home.html.heex">>,
  <<"templates/phx_web/controllers/error_html.ex">>,
  <<"templates/phx_web/controllers/page_html.ex">>,
  <<"templates/phx_web/controllers/page_controller.ex">>,
  <<"templates/phx_assets">>,<<"templates/phx_assets/tailwind.config.js">>,
  <<"templates/phx_assets/app.css">>,<<"templates/phx_assets/topbar.js">>,
  <<"templates/phx_assets/logo.svg">>,<<"templates/phx_assets/app.js">>,
  <<"mix.exs">>,<<"README.md">>]}.
{<<"app">>,<<"phx_new">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"requirements">>,[]}.
{<<"build_tools">>,[<<"mix">>]}.
